PORT=3000
MONGO_CONNECTION_STRING=Your connection string here
SALT_ROUNDS=rounds in number

# SMTP credentials for gmail
EMAIL_ID=your email
APP_PASSWORD=your pass key

# JWT
JWT_SECRET_KEY=some long jwt secret
JWT_EXPIRATION_TIME=30m or 60s